<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<a href= "https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

# "My Jupyter Notebook on IBM Watson studio"

**ANKITA BAHUGUNA**

My desired occupation is Data Scientist

*I am interested in data science because i have a master degree in mathematics, i enjoy problem-solving and statistical analysis.I want to use my mathematical skill with technology.*

# The following code test the sum

In [6]:
5+5

10

# Horizontal rule

<hr />

# Numbered list

Numbered list of animals:
1. Elephant
2. Lion
3. Cat
4. Dog

# Bullet list

List of cities:
* Delhi
* Mumbai
* Bangalore
* Hyderabad